
eusebian_canons/eusebian_canons.db
eusebian_canons/notes_not_for_github.txt
.*swp
eusebian_canons/update_db.sh
eusebian_canons/update_db.sql
eusebian_canons_backup*

mirr_exec_starttime_dege_chris.txt
eusebian_canons/mirr_exec_starttime_dege_chris.txt

backups
README_copy.sh

eusebian_canons/Pipfile
eusebian_canons/export_to_csv.py
eusebian_canons/install.txt

